header{
  background-color: var(--bg-tertiary-color);
  display: flex;
  justify-content: space-between;
  padding: 38px 48px;

}

.logo{
  display: inline-block;
  width: 68px;
  height: 64px;
}

.nav-menu{
  margin-top: 24px;
}

nav{
  display: none;
}

