.home .hero-img {
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat center / cover;
}

.bottom-hero .hero-img {
  margin-top: 88px;
  background: url(../img/bottom-hero-mobile.jpg) no-repeat top / cover;
}

.hero p {
  font-size: 20px;
  line-height: 1.5;
  width: 312px;
}

.home p {
  margin: 0 auto;
  padding-top: 88px;
  text-align: center;
}

/*Blogpost page*/
.blog .hero-img,
.packages .hero-img,
.contact .hero-img {
  height: 460px;
  display: flex;
  align-items: center;
}

.blog .hero-img {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/hero-blog-mobile.jpg) no-repeat center / cover;
}

.hero-content-container {
  text-align: left;
  color: var(--bg-primary-color);
}

.hero-content-container h1 {
  font-size: 48px;
}

.hero-content-container hr {
  margin: 16px 0 0;
}

.hero-content-container p {
  margin-top: 32px;
}

/*Packages page*/
.packages .hero-img {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/fuji-mobile-tablet.jpg) no-repeat 85% / cover;
}

.packages.bottom-hero .hero-img {
  background: url(../img/bottom-hero-packages-mobile.jpg) no-repeat center /
    cover;
}

@media (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat center / cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/bottom-hero-tablet.jpg) no-repeat top / cover;
  }

  .hero p {
    font-size: 32px;
    width: 579px;
  }

  .home p {
    width: 648px;
    padding-top: 88px;
  }

  /*Blogpost page*/
  .blog .hero-img {
    background: url(../img/hero-blog-tablet-desk.jpg) no-repeat center / cover;
  }

  .hero-content-container {
    padding: 158px 0px;
  }

  /*Packages page*/
  .packages .hero-img {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/fuji-mobile-tablet.jpg) no-repeat 85% / cover;
  }

  .packages.bottom-hero .hero-img {
    background: url(../img/bottom-hero-packages-tablet-desk.jpg) no-repeat 40% /
      cover;
  }
}

@media (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat center / cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat top / cover;
  }

  .home p {
    padding-top: 104px;
    width: 900px;
  }

  /*Blogpost page*/
  .blog .hero-img {
    background: url(../img/hero-blog-tablet-desk.jpg) no-repeat center / cover;
  }

  /*Packages page*/
  .packages .hero-img {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/fuji-desktop.jpg) no-repeat 75% / cover;
  }
}

@media (min-width: 1300px) {
  .home p {
    width: 1200px;
  }

  /*Packages page*/
  .packages .hero-img {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/fuji-desktop.jpg) no-repeat 75% / cover;
  }
}
