.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat center / cover;
}

.bottom-hero .hero-img {
  margin-top: 88px;
  background: url(../img/bottom-hero-mobile.jpg) no-repeat top / cover;
}

.hero p {
  padding: 88px 24px 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/*Blogpost page*/
.blog .hero-img{
  height: 460px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/hero-blog-mobile.jpg) no-repeat center / cover;
}

.hero-content{
  padding: 81px 24px;
  color: var(--bg-primary-color);
}

.hero-content h1{
  font-size: 48px;
}

.hero-content hr{
  margin: 16px 0 0;
}

.hero-content p{
  text-align: left;
  padding: 32px 0 0;
}


@media (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat center / cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/bottom-hero-tablet.jpg) no-repeat top / cover;
  }

  .hero p {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-desktop.jpg) no-repeat center / cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/bottom-hero-desktop.jpg) no-repeat top / cover;
  }

  .hero p {
    padding: 104px 120px;
  }
}
