.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
}

.image-gallery .first {
  background: url(../img/gallery1-mobile.jpg) no-repeat bottom / cover;
  height: 254px;
}

.image-gallery .second {
  background: url(../img/gallery2-mobile.jpg) no-repeat bottom / cover;
  height: 254px;
}

.image-gallery .third {
  background: url(../img/gallery3-mobile.jpg) no-repeat bottom / cover;
  grid-column: span 2;
  height: 182px;
}

@media (min-width: 768px) {
  .image-gallery .first {
    background: url(../img/gallery1-tablet.jpg) no-repeat bottom / cover;
  }

  .image-gallery .second {
    background: url(../img/gallery2-tablet.jpg) no-repeat bottom / cover;
  }

  .image-gallery .third {
    background: url(../img/gallery3-tablet.jpg) no-repeat bottom / cover;
  }
}


@media (min-width: 1440px) {
  .content-container{
    display: flex;
    justify-content: space-between;
  }

  .payments .content{
    width: 384px;
    padding-right: 26px;
  }

  .payments .content-title {
    width: 285px;
  }

  .payments .image-gallery{
    margin-top: 0px;
    width: 790px;
  }

  .image-gallery .first {
    background: url(../img/gallery1-desktop.jpg) no-repeat bottom / cover;
  }

  .image-gallery .second {
    background: url(../img/gallery2-desktop.jpg) no-repeat bottom / cover;
  }

  .image-gallery .third {
    background: url(../img/gallery3-desktop.jpg) no-repeat bottom / cover;
  }
}
