.testimonials-container {
  gap: 32px;
}

.testimonials .comment blockquote {
  margin-bottom: 8px;
  line-height: 28px;
}

.testimonials .comment figure {
  display: flex;
  gap: 24px;
}

.testimonials .comment figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.testimonials .comment .rating {
  line-height: 32px;
  font-size: 42px;
  color: var(--secondary-color);
}

.testimonials .comment .name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 1300px) {
  .testimonials .testimonials-container {
    flex-direction: row;
  }

  .testimonials .comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 384px;
  }
}
