.post-content{
  gap: 32px;
}

.store{
  height: 360px;
  background: url(../img/store-mobile-tablet.jpg) no-repeat center / cover;
}

.tokyo-view{
  height: 300px;
  background: url(../img/tokyo-tablet-desk.jpg) no-repeat right / cover;
}

.post-content figcaption{
  line-height: 28px;
  margin-top: 8px;
}